@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

.container {
  display: grid;
  width: 1050px;
  height: 560px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-template-areas:
      "header header header"
      "sidebar content-1 content-1"
      "sidebar content-2 content-2"
      "footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}

.content-1 {
  grid-area: content-1;
  overflow-y: scroll;
}

.content-2 {
  grid-area: content-2;
  overflow-y: scroll;
}

.footer {
  grid-area: footer;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

body {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.item {
  color: #00F;
  border: 1px solid #708090;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

.header {
  font-size: 40px;
  color: #00F;
  border: 2px solid #FFF;
  background-color: #FFF;
}

.uline:hover {
  text-decoration: underline;
}

#table1 {
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
}

#table2, #table3 {
  width: 97%;
  border-collapse: collapse;
}

form {
  width: 100%;
}

#divider {
  padding-left: 35px;
  padding-right: 30px;
}

#sort_button {
  margin-bottom: 10px;
}

.divider {
  padding-left: 35px;
  padding-right: 15px;
}

#label {
  padding-right: 15px;
}

.label {
  padding-left: 15px;
  padding-right: 15px;
}

.item.footer {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}

a {
  color: #00F;
}

/*th, td {
   border: 1px solid #000;
}*/

#table1 li:nth-child(odd) {
  background-color: #f2f2f2;
}

#table2 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table3 tr:nth-child(even) {
  background-color: #f2f2f2;
}

hr {
  width: 25%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
